<html>
	<head>
		<title><% title %> - RidePlan</title>
	</head>
	<body>
		<% IF username %>
		<h3>Username: <% username %></h3>
		<% END %>
		<% content %>
		<% IF footlinks %>
		<br>
		<% FOREACH lnk IN footlinks %>
		<a href="<% lnk.link %>"><% lnk.name %></a>
		<% END %>
		<% END %>
	</body>
</html>
