<h1><% title %> - RidePlan</h1>
<form action="<% loginurl %>" method="post">
<label for="usernametxtbx">Username</label>
<input type="text" id="usernametxtbx" name="username"/>
<input type="Submit">Login</input>
</form>
