<ul>
<li>Name: <% ride.name %></li>
<li>Location: <% ride.regionloc %></li>
<li>Miles: <% ride.miles %></li>
<li>Start: <% ride.start %></li>
<li>End: <% ride.end %></li>
<li>Id: <% ride.id %></li>
<% IF ride.riderlist %>
  <% FOREACH rider IN ride.riderlist %>
    <li> Rider: <% rider.name %></li>
  <% END %>
<% END %>
</ul>
<a href="/ride/edit/<% ride.id %>">Edit</a>
